.videoFooter {
  position: relative;
  bottom: 20%;
  color: white;
  margin-left: 30px;
}
.videoFooter__text h3,
p {
  padding-bottom: 20px;
}
.videoFooter__music {
  display: flex;
}
.videoFooterMusic__text {
  width: 80%;
  overflow-x: hidden;
}
.videoFooterMusic__text p {
  animation: moveTheText 4s infinite linear;
}
.videoFooter__discord {
  animation: spinTheRecord 3s infinite linear;
  position: absolute;
  bottom: 5px;
  right: 20px;
  height: 50px;
  filter: invert(1);
}
/* A a tag "Filter": inverteu a cor da imagem. Tag "Keyframes" para dar animação a imagem do disco, adicionado os parametros, chama a classe dentro da tag "Animação"
*tempo (3s) *infinite (girando sem parar) *linear( continuo sem nenhuma pause) */
@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveTheText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 440px) {
  .videoFooter{
    bottom: 22%;
  }
  .videoFooterMusic__text {
    width: 78%;
  }
}